*{
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3",sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-margin-block-start: 110px;
    scroll-margin-block-end: 110px;
}
html{
    scroll-behavior: smooth;
}
.header{
    position: absolute;
    display: flex;
    align-items: center;
    /* background-color: #0A0B0F; */
    justify-content: space-between;
    left: 0;
    right: 0;
    padding: 30px;
}



.header button{
    background-color: #0A0B0F;
    padding: 10px;
    border: none;
}
.header i{
    background-color: #FF305B;
}
.header h1{
    color: #FF305B;
}

.container1{
    
    text-align: center;
    height: 100vh;
    display: flex;
    font-size: 40px;
    color: white;
    justify-content: center;
    align-items: center;
    background-image:url("ben-griffiths-l7R85WBKl1c-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.container1 h2{
    font-size: 20px;
}
.content1 h1{
    font-size: 100px;
    color: #FF305B;
}
.content1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stxt{
    color: #fff;
    font-size: 60px;
    font-weight: 400; 
}
.wrapper{
    border-radius: 20px;
    padding: 40px;
    background-color: #060809;
    display: flex;
    text-align: left;
    gap: 20px;
}
.wrapper .dtxt{
    line-height: 90px;
    margin-left: 15px;
    height: 90px;
    overflow: hidden;
}
.dtxt li{
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    color: #FF305B;
    position: relative;
    top: 0;
    animation: slideing 12s steps(4) infinite;
}

@keyframes slideing {
    100%{
        top: -360px;
    } 
}
.dtxt li span{
  position: relative;
}
.dtxt li span::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-color: #060809;
    border-left: 2px solid #FF305B;
    left: 0;
    animation: typing 1.5s steps(10) infinite alternate;
}

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    } 
}


.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin:100px auto;
    gap: 20px;
}
.container2 img{
    height:60vh;
    border-radius: 15px;
}
.line{
    position: relative;
    display: inline;
}
.before{
    content: '';
    width: 5px;
    height: 30px;
    display: block;
    position: absolute;
    background-color: #FF305B;
    right: -10;
    top: 13px;
    /* transform: translateY(-50%); */
}
hr {
    border: none;
    border-top: 1px dotted rgb(0, 0, 0);
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 100%;
   margin-top: 20px;
   margin-bottom: 10px;
  }

#p1{
    font-size: 40px;
}

.content2Down{
    display: inline-block;

}
.container2 p{
    margin: 15px ;
}
  .button3:hover {
    background-color: white;
    color: #FF305B;
  }
  .button {
    background-color: #FF305B; /* Green */
    border: 2px solid #f44336;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }


  .container3content{
    display: flex;
    background-color: #E2E2E2;
    justify-content: center;
    padding-bottom: 60px;
  }
  .container3{
    width: 80%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #ourServices{
    font-size: 50px;
    padding: 40px;
  }
  
  .container3 p{
    width: 100%;
    text-align: center;
  }
  .content3 {
    padding: 30px;
    margin: 10px 0;
    /* background-color: azure; */
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Optional: centers the text within the elements */
    height: 20vh; /* Adjust as needed */
}
.content3 i{
    margin: 20px 0;
}

.container4 p{
    width: 100%;
    text-align: center;
}
.container4{
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 100px; */
}
.container4content{
    padding-bottom: 100px;
    padding-top: 20px;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.images img{
    width: 45vh;
}
.infos{
    background-color:#E2E2E2;
    padding: 100px;

}

.infoscontainers{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}
.infoItem{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}
.infoItem i {

}

.container5content{
    
}

.content5{
    display: flex;
    flex-wrap: wrap;
}
#clintfeedback{
    padding: 30px;
    font-size: 30px;
    width: 100%;
    text-align: center;
}
.content5items img{
    border-radius: 50%;
}
.content5items{
    gap: 50px;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    display: flex;
    background-color: #E2E2E2;
    padding: 50px;
}
.item5{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#AlexAnder{
    font-size: 40px;
}

.content6{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E2E2E2;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
#ourblog{
    padding-top: 30px;
    padding-bottom: 30px;
    
    font-size: 60px;
    width: 100%;
    text-align: center;
}
.videos{
    width: 80%;
    gap: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 30px; */
}

iframe{
    width: 100%;
    height: 40vh;
    border: 0;
}
.videocontainer{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.videoitem{
    background-color: #fff;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    text-align: left;
    transition: 0.5s;
}
.videoitem:hover{
    scale: 1.1;
}
.description{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#videoTitle{
    color: #FF305B;
    font-size: 40px;
}
#LearnMore{
    text-align: left;
    color: #FF305B;
}

.outer{
    display: flex;
    justify-content: center;
    height: 20vh;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: #27292D;
}
.outer p{
    color: #E2E2E2;
}
.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.outer a{
    color: #E2E2E2;
    text-decoration: none;
    transition: 0.4s;
}
.outer a:hover{
    scale: 1.5;
    color: #FF305B;
}
@media (min-width:768px) {
    .content3 {
        width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Optional: centers the text within the elements */
    height: 20vh; /* Adjust as needed */
    }
}
  @media (min-width:992px) {
    .videocontainer{
        flex-wrap: nowrap;
    }
    .container2{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .container2 img{
        height: 50vh;
    }
    .content2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        width: 50%;
    }
    .content3 {
        width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Optional: centers the text within the elements */
    height: 20vh; /* Adjust as needed */
    }
    .content5items{
        justify-content: space-between;
        flex-wrap: nowrap;
    }
}
